@model RoomReservationsVM.Models.Shared.RoomVm

<div id="divRoomBooking" class="row justify-content-center">

    <div class="col-md-8">

        <div class="form-group row">
            <!-- Arrival Date -->
            <div class="col-md-6 d-flex align-items-center">
                <label class="mr-2 mb-0" style="width: 80px">Datum od:</label>
                <input asp-for="BookingVm.ArrivalDate" asp-format="{0:dd.MM.yyyy}" class="form-control" style="width: 160px; margin-left: 1rem;" type="text" />
                <span asp-validation-for="BookingVm.ArrivalDate" class="text-danger ml-2"></span>
            </div>

            <!-- Departure Date -->
            <div class="col-md-6 d-flex align-items-center">
                <label class="mr-2 mb-0" style="width: 80px">Datum do:</label>
                <input asp-for="BookingVm.DepartureDate" asp-format="{0:dd.MM.yyyy}" class="form-control" style="width: 160px; margin-left: 1rem;" type="text" />
                <span asp-validation-for="BookingVm.DepartureDate" class="text-danger ml-2"></span>
            </div>
        </div>

        <div class="form-group mt-2">
            <select asp-for="BookingVm.SelectedRoomId" class="form-control" asp-items="Model.BookingVm.RoomSelectList"></select>
            <span asp-validation-for="BookingVm.SelectedRoomId" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <input asp-for="BookingVm.Email" class="form-control" type="email" placeholder="E-mail" />
            <span asp-validation-for="BookingVm.Email" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <input asp-for="BookingVm.PhoneNumber" class="form-control" type="tel" placeholder="Telefon" />
            <span asp-validation-for="BookingVm.PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <textarea asp-for="BookingVm.CustomerNote" class="form-control" placeholder="Pusti sporočilo:"></textarea>
            <span asp-validation-for="BookingVm.CustomerNote" class="text-danger"></span>
        </div>

        <button type="button" class="btn btn-dark mt-2" data-bs-toggle="modal" data-bs-target="#confirmBookingModal">
            Rezerviraj
        </button>

    </div>

</div>

<div class="modal fade" id="confirmBookingModal" tabindex="-1" aria-labelledby="confirmBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ste prepričani, da želite oddati rezervacijo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Prekliči</button>
                <button asp-action="BookRoom" class="btn btn-dark" type="submit" data-bs-dismiss="modal">
                    Potrdi
                </button>
            </div>
        </div>
    </div>
</div>