@{
    ViewData["Title"] = "Hotel Elitostroj";
}
@model RoomReservationsVM.Models.Shared.RoomVm

<form asp-controller="RoomView" method="post">

    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="RoomId" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Price" />
    <input type="hidden" asp-for="ShortDescription" />
    <input type="hidden" asp-for="LongDescription" />

    @for (int i = 0; i < Model.RoomIdList.Count; i++)
    {
        <input type="hidden" asp-for="RoomIdList[i]" />
    }

    <br />

    <div class="text-center">
        <h4>Dobrodošli na spletni strani hotela Elitostroj</h4>
        <p>Vabljeni k pregledu nastanitev!</p>

        <div class="container mt-5">

            <partial name="~/Views/RoomView/RoomPartial.cshtml" />

            <partial name="~/Views/RoomView/BookingPartial.cshtml" />          

            <partial name="~/Views/RoomView/PicturesPartial.cshtml" />

        </div>

    </div>

</form>