@model RoomReservationsVM.ViewModels.RoomView.RoomVm

<br />

@if (Model.PictureList != null && Model.PictureList.Any())
{
    <div class="row justify-content-center">
        <div class="col-md-7">

            <div id="picturesCarusel" class="carousel slide">

                <div class="carousel-inner">
                    @{
                        int ctPictures = 0;

                        foreach (var picture in Model.PictureList)
                        {
                            <div class="carousel-item @(ctPictures==0 ? "active" : "")">
                                <img src="data:image/png;base64,@Convert.ToBase64String(picture.PictureData)" class="d-block card-img-top" alt="Slika sobe" />
                            </div>

                            ctPictures++;
                        }
                    }
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#picturesCarusel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#picturesCarusel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
}
else
{
    <div class="col-7">
        <p class="text-muted">Soba nima slik.</p>
    </div>
}